
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
    <div class="thead-dark">
        <h1>Por aquí no puedes estar!</h1>
        <h3>Al parecer no cuentas con los permisos suficientes para estar por aquí</h3>
    </div>
    <div class="justify-content-center">
        
    </div>
</div>