@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola!!</h1>
    <div class="justify-content-center">
        <p>Que bueno que vienes por aca</p>
        <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Login">Ingresar</a>
    </div>
</div>
