
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido, que bueno que nos acompañas @ViewBag.Name</h1>
    <div class="justify-content-center">
        <img width="80%" src="~/img/personWallpaper.jpg" class="card-img" />
    </div>
</div>